
# Ignore all files with the specified name.
# Scope is all repo folders.
killme.sh

# Ignore all files with the specified extension.
# Scope is all repo folders.
*.nii.gz
*.nii
*.npy
*.mat
*.h5


# Ignore all files in the 'logs' subfolder.
data/
data_64/
new/
new_64/
Figures_backup/
model_64_backup/
Prediction/
Prediction_backup/
template_64/
template_64_backup/
template_64_first/
template_64_initial/
template_raw_initial/
__pycache__/
__MACOSX/
